header {
    background-color:blanchedalmond;
    
  }

main {
    background-color:rgb(250, 243, 243);

}

aside {
  background-color:rgb(145, 90, 124);

}

footer {
  background-color:rgb(114, 2, 39);

}